<div class="browser">
	<div class="operate"></div>
  	<div class="list"></div>
  	<div class="table">
		<div class="tr_name">
			<div class="table_td" title="Sort by name">NAME</div>
		</div>
		<div class="tr_date">
			<div class="table_td" title="Sort by date">DATE</div>
		</div>
		<div class="tr_size">
			<div class="table_td" title="Sort by size">SIZE</div>
		</div>
		<div>
			<div>PATH</div>
		</div>
	</div>
	<div class="content"></div>
</div>