<div class="sysConfigPerson">
	<div>
		<div class="picArea">
			<div class="token"></div>
		</div>
		<div class="tokenContent">
			<div class="subTitle">%{sysConfigPerson.expireTime}</div>
			<div>
				<input name="tokenTimeH" class="date" type="text">%{h}
				<input name="tokenTimeI" class="date" type="text">%{i}
				<input name="tokenTimeS" class="date" type="text">%{s}
			</div>
		</div>
	</div>
</div>