<div class="sysConfigFile">
	<div class="repairArea">
		<div class="picArea">
			<div class="repair"></div>
		</div>
		<div class="repairContent">
			<div class="subTitle">%{sysConfigFile.repair}</div>
			<div>
				<input name="fileRepairI" class="date" type="text">%{i}
				<input name="fileRepairS" class="date" type="text">%{s}
			</div>
		</div>
	</div>
	<div class="fileStrageArea">
		<div class="picArea">
			<div class="fileStrage"></div>
		</div>
		<div class="fileStrageContent">
			<div class="subTitle">%{sysConfigFile.fileStrage}</div>
			<div>
				<div class="replicationTitle">%{sysConfigFile.replication}</div>
				<div><input name="fileReplication" type="text"/></div>
			</div>
		</div>
	</div>
</div>