<div class="sysConfigSys">
	<div>
		<div class="picArea">
			<div class="supplierMonitorPeriod"></div>
		</div>
		<div class="supplierMonitorPeriodContent">
			<div class="subTitle">%{sysConfigSys.supplierMonitorPeriod}</div>
			<div>
				<input name="sysMonitorPeriodI" class="date" type="text">%{i}
				<input name="sysMonitorPeriodS" class="date" type="text">%{s}
			</div>
		</div>
	</div>
</div>